{% extends 'layouts/app.twig' %}

{% block content %}

    <div class="body_container">

        <h1>Order Successful</h1>

        <h3>{{ order.getId }}<h3>

        <p>{{ order.getHash }}<p>
        
    </div>


{% endblock %}